@charset "UTF-8";
body {
    background-color: #CCC;
}

.article_main {
    background: #FFF;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}

.article_desc {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
}

.article_footer {
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

footer {
    padding-top: 20px;
}

.footer-base {
    padding-top: 20px;
}

header {
    padding: 10px;
}

.user_photo {
    width: 100px;
    height: 100px;
}

.user_photo_little {
    width: 64px;
    height: 64px;
}


.user_info {
    margin-top: 50px;
}

.user_sex {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/nan.png");
}

.item_icon {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.icon {
    display: block;
    width: 19px;
    height: 18px;
    background: url("../images/icons.png");
    float: left;
}

.icon-fav:hover {
    background-position: -107px -512px;
}

.icon-fav {
    background-position: -107px -464px;
    margin-top: 6px;
}

.icon-share {
    background-position: -108px -704px;
    margin-top: 6px;
}
.icon-share:hover{
    background-position: -108px -824px;
}

.icon-text {
    display: inline-block;
    height: 30px;
    font-size: 12px;
    float:left;
}

.comment_items{
    margin-top:10px;
}
.comment_item{
    border-top:1px solid silver;
    padding:5px;
}

.comment_box{
    resize:none;
    width:100%;
}